@model VInspectionWebService.Models.CheckListSummary

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CheckListSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MensajeMantto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MensajeMantto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Botiquin1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Botiquin1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Botiquin2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Botiquin2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Botiquin3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Botiquin3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguridad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguridad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguridad2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguridad2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguridad3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguridad3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguridad4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguridad4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaMantto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaMantto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaComentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaComentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaBotiquin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaBotiquin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaDocumentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaDocumentos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanderaMensajes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanderaMensajes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComentariosVigilancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentariosVigilancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buscador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buscador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garitas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garitas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
